.corelle-support {
	width: 1080px;
	margin: 0 auto;

	//.asking
	&.asking {
		padding-top: 50px;

		div.personal-agree {
			border: 1px solid #cacaca;
			padding: 25px 50px;
			line-height: 24px;
			font-size: 16px;
		}
		td input[type="file"] {
			display: block; 
			font-size: 16px;
			margin: 15px 0;
		}
		p.agreement {
			padding: 15px 0 70px 0;
		}
		p.warn {
			font-size: 16px;
			color: #ff0000;
			padding-top: 10px;
		}
	}

	// asking ok
	&.asking-ok {
		height: 850px;
		padding-top: 380px;
		text-align: center;

		p.ask-1 {
			font-size: 35px;
			color: #000;
		}
		p.ask-2 {
			font-size: 16px;
			color: #555;
			padding: 22px 0 31px 0;
		}
		a.ask-gohome {
			display: inline-block;
			width: 324px;
			height: 47px;
			font-size: 18px;
			color: #333;
			text-align: center;
			border: 1px solid #cacaca;
			padding-top: 11px;
		}
	}

	// caution
	&.caution {

		div.tabsets {
            padding: 17px 0 17px 0;
            text-align: center;
            border-bottom: 1px solid #d0d0d0;

            a {
				display: inline-block; margin: 0 28px;
				font-family: $f-m;
                font-size: 16px;
                color: #888;

                &.on {
					color: #333;
					font-weight: 600;
                }
			}
			
			&.tab-pyrex {
				font-family: $f-n;
				background: #fafafa;
				border-bottom: 1px solid #dadada;
			}
		}

		.caution-table th {
			width: 130px;
			padding: 25px 0 0 0;
			text-align: center;
			border-bottom: 1px solid #cacaca;
			vertical-align: top;

			img {
				margin-bottom: 10px;
			}
		}
		.caution-table td {
			color: #333;
			font-size: 16px; padding: 23px 50px 25px 0;
			line-height: 24px;
			border-bottom: 1px solid #cacaca;

			span.table-title {
				font-weight: 600;				
			}
			p.table-content {

			}
			span.red {
				color: #d0021b;
			}
		}
	}

	// faq
	&.faq {

		div.tabsets {
            padding: 17px 0 17px 0;
            text-align: center;
			// border-bottom: 1px solid #d0d0d0;
			border-bottom: 1px solid #636363;

			&.sub-2 {
				border-bottom: 1px solid #636363;
			}
            a {
				display: inline-block; margin: 0 28px;
				font-family: $f-m;
                font-size: 16px;
                color: #888;

                &.on {
					color: #333;
					font-weight: 600;
                }
			}
			&.sub-1 {
				a {
					font-family: $f-n;
				}
			}
		}

		ul.questions {
			margin-bottom: 24px;

			li {
				border-bottom: 1px solid #d5d5d5;

				a.question-link {
					display: block;
					font-size: 18px; color: #333;
					padding: 22px 0;
					background:url('../img/support/arrow-down.png') 97% 50% no-repeat;

					&.on {
						background:url('../img/support/arrow-up.png') 97% 50% no-repeat;
					}
					span {
						display: inline-block;
						font-family: $f-m;
						font-size: 27px; color: #333;
						font-weight: 600;
						vertical-align: middle;
						padding: 0 25px;
					}
				}
				div.answer {
					display: none;
					overflow: hidden;
					font-size: 16px; color: #333;
					background-color: #f5f5f5;
					padding: 35px 80px 80px 180px;
					border-top: 1px solid #d5d5d5;
					line-height: 24px;
				}
			}
		}

		.btn-area a.arrow-down {
            background: url('../img/icon_more_arrow.png') 200px 50% no-repeat;
        }
	}


	// store
	&.store {

		div.tabsets {
            padding: 17px 0 17px 0;
            text-align: center;
            border-bottom: 1px solid #d0d0d0;

            a {
				display: inline-block; margin: 0 28px;
                font-size: 16px;
                color: #888;

                &.on {
					color: #333;
					font-weight: 600;
                }
			}
		}
		p.sub-tit {
			text-align: center; font-size:32px; line-height: 45px;
			padding: 40px 0 15px 0;
			color:#333;
		}
		p.sub-paragraph {
			text-align: center; font-size:16px; color:#555; line-height: 26px;
			padding-bottom: 36px;
		}
		div.channels {

			span.sub-title {
				display: block;
				text-align: center;
				font-size: 16px;
				color: #000;
				padding-bottom: 15px;
			}
			ul {
				width: 1044px;
				margin: 0 auto;
				padding-bottom: 48px;

				li {
					position: relative;
					float: left;
					width: 174px;
					height: 70px;
					border: 1px solid #dcdcdc;
					margin-left: -1px;
					margin-bottom: -1px;
					background: #fff;

					a {
						position: absolute;
						width: 174px;
						height: 70px;
						text-indent: -9999px;
						left: 0; top: 0;

						&.nolink {
							cursor: default;
						}

						&.lotte {background:url('../img/support/lotte_off.png') 0 0 no-repeat}
						&.shinsegae {background:url('../img/support/shinsegae_off.png') 0 0 no-repeat}
						&.hyundai {background:url('../img/support/hyundai_off.png') 0 0 no-repeat}
						&.akplaza {background:url('../img/support/akplaza_off.png') 0 0 no-repeat}
						&.thegalleria {background:url('../img/support/thegalleria_off.png') 0 0 no-repeat}
						&.say {background:url('../img/support/say_off.png') 0 0 no-repeat}
						&.emart {background:url('../img/support/emart_off.png') 0 0 no-repeat}
						&.emarttraders {background:url('../img/support/emarttraders_off.png') 0 0 no-repeat}
						&.homeplus {background:url('../img/support/homeplus_off.png') 0 0 no-repeat}
						&.lottemart {background:url('../img/support/lottemart_off.png') 0 0 no-repeat}
						&.costco {background:url('../img/support/costco_off.png') 0 0 no-repeat}
						&.ssgcom {background:url('../img/support/ssgcom_off.png') 0 0 no-repeat}
						&.gsshop {background:url('../img/support/gsshop_off.png') 0 0 no-repeat}
						&.lottecom {background:url('../img/support/lottecom_off.png') 0 0 no-repeat}
						&.hmall {background:url('../img/support/hmall_off.png') 0 0 no-repeat}
						&.cjmall {background:url('../img/support/cjmall_off.png') 0 0 no-repeat}
						&.lottemall {background:url('../img/support/lottemall_off.png') 0 0 no-repeat}
						&.gmarket {background:url('../img/support/gmarket_off.png') 0 0 no-repeat}
						&.o11st {background:url('../img/support/o11st_off.png') 0 0 no-repeat}
						&.auction {background:url('../img/support/auction_off.png') 0 0 no-repeat}
						&.interpark {background:url('../img/support/interpark_off.png') 0 0 no-repeat}


						&:hover {
							left: -1px; top: -1px;
							border: 1px solid #000;
							z-index: 1;

							&.lotte {background:url('../img/support/lotte_on.png') 0 0 no-repeat}
							&.shinsegae {background:url('../img/support/shinsegae_on.png') 0 0 no-repeat}
							&.hyundai {background:url('../img/support/hyundai_on.png') 0 0 no-repeat}
							&.akplaza {background:url('../img/support/akplaza_on.png') 0 0 no-repeat}
							&.thegalleria {background:url('../img/support/thegalleria_on.png') 0 0 no-repeat}
							&.say {background:url('../img/support/say_on.png') 0 0 no-repeat}
							&.emart {background:url('../img/support/emart_on.png') 0 0 no-repeat}
							&.emarttraders {background:url('../img/support/emarttraders_on.png') 0 0 no-repeat}
							&.homeplus {background:url('../img/support/homeplus_on.png') 0 0 no-repeat}
							&.lottemart {background:url('../img/support/lottemart_on.png') 0 0 no-repeat}
							&.costco {background:url('../img/support/costco_on.png') 0 0 no-repeat}
							&.ssgcom {background:url('../img/support/ssgcom_on.png') 0 0 no-repeat}
							&.gsshop {background:url('../img/support/gsshop_on.png') 0 0 no-repeat}
							&.lottecom {background:url('../img/support/lottecom_on.png') 0 0 no-repeat}
							&.hmall {background:url('../img/support/hmall_on.png') 0 0 no-repeat}
							&.cjmall {background:url('../img/support/cjmall_on.png') 0 0 no-repeat}
							&.lottemall {background:url('../img/support/lottemall_on.png') 0 0 no-repeat}
							&.gmarket {background:url('../img/support/gmarket_on.png') 0 0 no-repeat}
							&.o11st {background:url('../img/support/o11st_on.png') 0 0 no-repeat}
							&.auction {background:url('../img/support/auction_on.png') 0 0 no-repeat}
							&.interpark {background:url('../img/support/interpark_on.png') 0 0 no-repeat}

						}
					}
				}
			}
		}
	}
}

div.search-area {
	width: 1620px;
	height: 540px;
	margin: 0 auto;

	div.search-left {
		float: left;
		width: 405px;
		height: 540px;
		padding: 25px;
		background: #f2f2f2;
		border-right: 1px solid #a2a2a2;

		div.search-form {
			position: relative;
			height: 47px;
			background: #fff;

			input {
				border: 0;
				width: 280px;
				height: 36px;
				margin: 5px 0 0 15px;
				color: #888; font-size: 16px;
			}
			a.s-btn {
				position:absolute;
				right: 10px; top: 8px;
				width: 30px; height: 30px;
				text-indent: -9999px;
				background: url('../img/icon_zoom.png') 50% 50% no-repeat;
			}
		}
		ul.search-result {
			height: 420px;
			overflow-y: scroll;
			margin-top: 33px;

			li {
				padding-bottom: 20px;

				a {
					color: #555;
					font-size: 14px;

					&.on {
						color: #111;
					}
				}
			}
		}
	}
	div.search-right {
		position: relative;
		float: left; 
		width: 1215px;
		height: 540px;
		background: #ccc;

		div.store-info {
			position: absolute;
			left: 20px; top: 20px;
			width: 300px; height: 165px;
			background: #2f2f2f;
			padding: 15px 28px;
			color: #fff;

			p.store-name {
				font-weight: 600; font-size: 20px; line-height: 45px;
			}
			p.store-address {
				font-size: 13px;
				padding-bottom: 13px;
			}
			span.store-phone {
				font-size: 16px;
				font-family: $f-m;
				font-weight: 600;
			}
		}
	}
}