.corelle-support {
	width: 1080px;
	margin: 0 auto;

	//.asking
	&.asking {
		padding-top: 50px;

		div.personal-agree {
			border: 1px solid #cacaca;
			padding: 25px 50px;
			line-height: 24px;
			font-size: 16px;
		}
		td input[type="file"] {
			display: block; 
			font-size: 16px;
			margin: 15px 0;
		}
		p.agreement {
			padding: 15px 0 70px 0;
		}
	}

	// caution
	&.caution {

		div.tabsets {
            padding: 17px 0 17px 0;
            text-align: center;
            border-bottom: 1px solid #d0d0d0;

            a {
				display: inline-block; margin: 0 28px;
				font-family: $f-m;
                font-size: 16px;
                color: #888;

                &.on {
					color: #333;
					font-weight: 600;
                }
            }
		}

		.caution-table th {
			width: 130px;
			padding: 25px 0 0 0;
			text-align: center;
			border-bottom: 1px solid #cacaca;
			vertical-align: top;

			img {
				margin-bottom: 10px;
			}
		}
		.caution-table td {
			color: #333;
			font-size: 16px; padding: 23px 50px 25px 0;
			line-height: 24px;
			border-bottom: 1px solid #cacaca;

			span.table-title {
				font-weight: 600;				
			}
			p.table-content {

			}
		}
	}

	// faq
	&.faq {

		div.tabsets {
            padding: 17px 0 17px 0;
            text-align: center;
            border-bottom: 1px solid #d0d0d0;

			&.sub-2 {
				border-bottom: 1px solid #636363;
			}
            a {
				display: inline-block; margin: 0 28px;
				font-family: $f-m;
                font-size: 16px;
                color: #888;

                &.on {
					color: #333;
					font-weight: 600;
                }
			}
			&.sub-1 {
				a {
					font-family: $f-n;
				}
			}
		}

		ul.questions {
			margin-bottom: 24px;

			li {
				border-bottom: 1px solid #d5d5d5;

				a.question-link {
					display: block;
					font-size: 18px; color: #333;
					padding: 22px 0;
					background:url('../img/support/arrow-down.png') 97% 50% no-repeat;

					&.on {
						background:url('../img/support/arrow-up.png') 97% 50% no-repeat;
					}
					span {
						display: inline-block;
						font-family: $f-m;
						font-size: 27px; color: #333;
						font-weight: 600;
						vertical-align: middle;
						padding: 0 25px;
					}
				}
				div.answer {
					display: none;
					overflow: hidden;
					font-size: 16px; color: #333;
					background-color: #f5f5f5;
					padding: 35px 80px 80px 80px;
				}
			}
		}

		.btn-area a.arrow-down {
            background: url('../img/icon_more_arrow.png') 200px 50% no-repeat;
        }
	}
}