/********************** 
* val
***********************/
$f-m : 'Karla', sans-serif;
$f-p : 'Playfair Display', serif;
$f-n : 'NanumBrunGothic', serif;

/********************** 
* layout
***********************/
div.wrapper {
    position: relative;
    max-width: 1680px; 
    min-width: 1500px; 
    margin: 0 auto;

    div.skyscraper {
        position: fixed;
        bottom: 145px;
        right: 35px;
        // margin-left: 1700px;
        font-size: 12px;
        font-family: $f-m;
        text-align: center;
        z-index: 10;
        font-weight: 700;

        a.sky-shop {
            display: inline-block; 
            width: 63px; height: 30px;
            padding: 6px 5px 0 0;
            border: 1px solid #dbdbdb;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            background:#fff url('../img/icon_shop.png') 45px 50% no-repeat;
            color: #000;
        }
        a.sky-top {
            display: inline-block; 
            margin-top: 8px;
            width: 63px; height: 30px;
            padding: 6px 5px 0 0;
            border: 1px solid #dbdbdb;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            background:#fff url('../img/icon_top.png') 45px 50% no-repeat;
            color: #000;
        }
    }
    
    section {
        // padding-top: 94px;

        &.index-gallery {
            // padding-top: 0px;
            position: relative;

            a.sound {
                position: absolute;
                right: 48px; bottom: 21px;
                width: 48px; height: 48px;
                z-index: 50;
                text-indent: -9999px;
                background: url('../img/icon_speaker.png') 50% 50% no-repeat;

                &.off {
                    background: url('../img/icon_mute.png') 50% 50% no-repeat;
                }
            }

            div.inner-gallery {
                height: 1024px;
                margin-bottom: 20px;
            }
        }
        div.main-title {
            width: 1080px;
            margin: 0 auto;
            height: 294px;
            padding-top: 94px;
            text-align: center;
            border-bottom: 1px solid #636363;            

            h2 {
                padding: 45px 0 15px 0;
                font-family:'Playfair Display', serif;
                font-size: 50px; color: #000;
            }
            p.slogan {
                font-size: 16px; color: #555;
            }
        }

        div.content {
            padding: 0 0 100px 0;
        }

        div.errors {
            height: 847px;
            text-align: center;

            p.number {
                font-family: $f-m;
                font-size: 50px;
                color: #000;
                padding: 400px 0 22px 0;
            }
            p.detail {
                font-family: $f-m;
                font-size: 16px;
                color: #555;
            }
            a.sowhat {
                display: inline-block;
                margin-top: 30px;
                width: 324px;
                text-align: center;
                border: 1px solid #cacaca;
                font-size: 18px;
                color: #333;
                line-height: 47px;
            }
        }
    }
}

table.notable.normal {
    th {
        font-size:16px;
        color: #333; font-weight: 700;
        text-align: left;
        padding: 24px 0 20px 0;
        vertical-align: top;
        line-height: 24px;
    }
    td {
        padding: 10px 0;

        &.radio {
            height: 70px;
        }
    }
}

/********************** 
* header
***********************/
header {
    position: absolute; 
    width: 100%; max-width: 1680px; min-width:1500px; 
    height: 94px; 
    background: rgba(255,255,255,0.9);
    z-index: 100;

    &.on {
        background: rgba(255,255,255,1);
    }

    h1 {
        position: absolute;
        width: 88px; height: 45px;
        background:url('../img/logo.png') 0 0 no-repeat;
        left: 50px; top: 25px;
        text-indent: -9999px;
        cursor: pointer;
    }
 
    nav {
        float: right;
        margin: 35px 220px 0 0;

        li {
            float:left;
            font-family: $f-m; font-weight: 700; font-size: 14px;
            height: 60px;

            a {
                position: relative;
                display: inline-block;
                line-height: 28px;
                width: 160px; text-align: center;
                color: #000;
                border-left: 1px solid #898989;
                vertical-align: top; 

                &::after {
                    content: ' ';
                    position: absolute;
                    width: 0px; height: 2px;
                    background: #000;                    
                    left: 50%; bottom: -3px;
                    margin-left: 0px;
                    -webkit-transition: width .5s, margin-left .5s;
                            transition: width .5s, margin-left .5s;
                }
            }
            &.on a::after {
                content: ' ';
                position: absolute;
                width: 70px; height: 2px;
                background: #000;                    
                left: 50%; bottom: -3px;
                margin-left: -35px;
            }

            &:last-child a {
                border-right: 1px solid #898989;
            }
        }
        & > a {
            position: absolute;
            right: 28px; top: 33px;
            // width: 164px; height: 31px;
            // padding-top: 7px; padding-right:20px; text-align: center;
            // border: solid 1px #dbdbdb;
            // -webkit-border-radius: 15px;
            //         border-radius: 15px;
            // color: #000;
            // font-size: 12px; font-family: $f-m; font-weight: 600;
            // background:url('../img/icon_shop_arrow.png') 140px 50% no-repeat;

            // span {
            //     font-family: 'NanumBrunGothic', serif;
            //     font-weight: 700;
            // }
        }
    }

    div.nav-sub {
        display: none;
        position: absolute;
        top: 94px;
        width: 100%;
        background: #f6f6f6;
        padding: 20px 0;

        .show-submenu {
            float: right;
            position: relative;
            padding-right: 220px;

            & > a {
                position: absolute;
                right: 28px; top: 33px;
                width: 164px; height: 31px;
                padding-top: 7px; padding-right:20px; text-align: center;
                border: solid 1px #dbdbdb;
                -webkit-border-radius: 15px;
                        border-radius: 15px;
                color: #000;
                font-size: 12px; font-family: $f-m; font-weight: 600;
                background:url('../img/icon_shop_arrow.png') 140px 50% no-repeat;
        
                span {
                    font-family: 'NanumBrunGothic', serif;
                    font-weight: 700;
                }
            }
            ul {
                float: left;
                width: 160px;
                border-left: 1px solid rgba(136,136,136,.25);
                padding-left: 15px;

                &:last-child {
                    border-right: 1px solid rgba(136,136,136,.25);
                }

                li {
                    padding: 3px 0;
                    a {
                        font-size: 14px; color: #555;
                        letter-spacing: -1px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &.brands {
                    a {
                        font-family: $f-m;
                    }
                    span.line {
                        display:block; height: 1px; width: 20px; background: #d7d7d7;
                    }
                }
                &.webzine {
                    li.s {
                        a {
                            display: inline-block;
                            padding-right: 10px;
                            background: url('../img/copyright-arrow.png') right 35% no-repeat;
                        }
                    }
                }
            }
        }
    }
}

div.index-in {
    position: relative;

    p.slogans {
        position: absolute;
        text-align: center;

        span.a {
            display: block;
            font-size: 42px;
            line-height: 52px;
            color: #fff;
            font-family: $f-m;
            padding-bottom: 5px;
        }
        span.b {
            display: block;
            font-size: 16px;
            color: #fff;
            font-weight: 600;
        }
    }
}

/********************** 
* footer
***********************/
footer {
    height: 450px;
    border-top: 1px solid #dedede;

    .sitemap {
        position: relative;
        height: 313px;
        padding: 20px 50px 0 50px;
        & > a {
            position: absolute;
            right: 28px; top: 33px;
            // width: 164px; height: 31px;
            // padding-top: 7px; padding-right:20px; text-align: center;
            // border: solid 1px #dbdbdb;
            // -webkit-border-radius: 15px;
            //         border-radius: 15px;
            // color: #000;
            // font-size: 12px; font-family: $f-m; font-weight: 600;
            // background:url('../img/icon_shop_arrow.png') 140px 50% no-repeat;

            // span {
            //     font-family: 'NanumBrunGothic', serif;
            //     font-weight: 700;
            // }
        }
        ul {
            float: left;
            width: 160px;
            li {
                padding: 3px 0;
                &.f {
                    font-family: $f-m; font-weight: 600; font-size: 15px; color: #000;
                    padding-bottom: 20px;
                }
                a {
                    font-size: 14px; color: #555;
                    letter-spacing: -1px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &.brands {
                a {
                    font-family: $f-m;
                }
                span.line {
                    display:block; height: 1px; width: 20px; background: #d7d7d7;
                }
            }
            &.webzine {
                li.s {
                    a {
                        display: inline-block;
                        padding-right: 12px;
                        background: url('../img/copyright-arrow.png') right 50% no-repeat;
                    }
                }
            }
        }
    }
    .copyright {
        position: relative;
        height: 137px;
        background: #0a3f54;
        font-size: 12px;
        padding: 30px 0 0 180px;
        line-height: 20px;
        h2 {
            position: absolute;
            width: 87px; height: 40px;
            background:url('../img/bottom_logo.png') 0 0 no-repeat;
            left: 50px; top: 28px;
            text-indent: -9999px;
        } 
        div.menus {
            float: left;
            width: 345px;
            a {
                display: inline-block;
                line-height: 13px;
                &:nth-child(1) {
                    padding-right: 15px;
                }
                &:nth-child(2) {
                    border-left: 1px solid #ccc;
                    // border-right: 1px solid #ccc;
                    padding: 0 15px;
                }
                &:nth-child(3) {
                    padding-left: 15px;
                }
            }
        }
        div.phone-time {
            float: left;
            width: 260px;
        }
        div.address {
            float: left;
            width: 430px;
        }
        a, p {
            color: #ccc;
        }
        .f {font-family: $f-m}
        ul.sns {
            position: absolute;
            right: 37px; top: 25px;
            li {
                float: left;
                a {
                    display: inline-block;
                    width: 36px; height: 36px;
                    text-indent: -9999px;
                    margin-left: 20px;
                    &.facebook {
                        background: url('../img/facebook.png') 50% 50% no-repeat;
                    }
                    &.insta {
                        background: url('../img/instagram.png') 50% 50% no-repeat;
                    }
                    &.youtube {
                        background: url('../img/youtube.png') 50% 50% no-repeat;
                    }
                }
            }
        }
    }
}


/********************** 
* globals
***********************/
//input focus remove outline
*:focus {
    outline: none;
}

div.film {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background:rgba(0,0,0,.75);
    z-index: 5;

    a.close {
        position: fixed;
        width: 50px; height: 50px;
        right: 35px; top: 35px;
        background:url('../img/icon_close_x.png') 50% 50% no-repeat;
        text-indent: -9999px;
    }
}

div.gallery {
    position: absolute;
    z-index: 6;
    left: 50%;
    margin: 0 0 0 -589px;

    a.article-left {
        position: absolute;
        top: 50%;
        width: 42px; height: 73px;
        background: url('../img/about/icon_article_right.png') 0 0 no-repeat;
        margin: -36px 0 0 -100px;
    }
    a.article-right {
        position: absolute;
        top: 50%; right: 0;
        width: 42px; height: 73px;
        background: url('../img/about/icon_article_left.png') 0 0 no-repeat;
        margin: -36px -100px 0 0px;
    }
}

//input text
input[type="text"].normal {
    border: 1px solid #cacaca;
    font-size: 16px; color: #333;
    padding: 13px 20px;
}
input[type="text"].normal:focus {
    border: 2px solid #000;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 300ms cubic-bezier(0.4,0.0,0.2,1);
}
textarea.normal {
    border: 1px solid #cacaca;
    font-size: 16px; color: #333;
    padding: 10px 20px;
}
textarea.normal:focus {
    border: 2px solid #000;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 300ms cubic-bezier(0.4,0.0,0.2,1);
}

//input radio
input[type="radio"].default {
    display: none;
}
input[type="radio"].default + label {margin-right: 25px;}
input[type="radio"].default + label span {
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    background: url('../img/icon_radio_off.png') 50% 50% no-repeat;
    -webkit-background-size: 24px auto;
            background-size: 24px auto;
    margin-right: 1px;
    line-height: 20px;
    cursor: pointer;
}
input[type="radio"].default:checked + label span {
    background: url('../img/icon_radio_on.png') 50% 50% no-repeat;
}

//checkbox
input[type="checkbox"].default {
    display: none;
}
input[type="checkbox"].default + label span {
    display: inline-block;
    vertical-align: middle; margin-right: 5px;
    width: 21px;
    height: 21px;
    background: url('../img/icon_checkbox_off.png') 50% 50% no-repeat;
    -webkit-background-size: 21px auto;
            background-size: 21px auto;
    cursor: pointer;
}
input[type="checkbox"].default:checked + label span {
    background: url('../img/icon_checkbox_on.png') 50% 50% no-repeat;
}


/********************** 
* btn setting
***********************/
div.btn-area {
    text-align: center;
    a {vertical-align: top}
}
a.btn-default {
    display: inline-block;
    font-size: 18px; color: #333;
    width: 324px; height: 47px; border: 1px solid #cacaca;
    text-align: center; padding-top: 12px;
    margin: 0 5px;
}
a.btn-default.on {
    display: inline-block;
    font-size: 18px; color: #fff;
    width: 324px; height: 47px; border: 0px;
    background:#333;
    text-align: center;
}


/********************** 
* modal
***********************/
.popup-wrap {
    width: 800px; height: 760px;
    padding: 40px 50px 25px 50px;

    h2 {
        color: #000;
        font-size: 35px;
        border-bottom: 1px solid #979797;
        padding-bottom: 22px;
    }

    div.inner-term {
        height: 535px;
        overflow-y: auto;
        padding: 20px 15px 20px 0;
        font-size: 16px;
        line-height: 25px;
        color: #555;
    }

    a.close {
        display: block;
        font-size: 18px;
        color: #333;
        line-height: 47px;
        border: 1px solid #cacaca;
        width: 324px; text-align: center;
        margin: 35px auto 0 auto;
    }
}